<div class="row  mt-2">
    <div class="col-5 col-sm-4 col-md-3 col-xl-2"></div>

    <div class="col">
        <h1>Ubicaciones interesantes</h1>
        <hr>

    </div>
</div>

<div class="row ">
    <div class="col-5 col-sm-4 col-md-3 col-xl-2"></div>
    <div class="col">
        <div class="row" >
            <div class="col-12 col-sm-6 col-md-4 col-xl-3 mb-2" *ngFor="let propiedad of propiedades">
                <div class="card">
                    <app-mini-mapa [lngLat]="propiedad.lngLat" class="card-img-top" ></app-mini-mapa>
                    <div class="card-body">
                        <h5 class="card-title">{{ propiedad.titulo }}</h5>
                        <div class="card-text"> {{propiedad.descripcion}} </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>